<% title "Страница мертвого" %>

<div id="topbar">
  <div class="container">
    <%= link_to "" do %>
      <%= image_tag "logo-white.png", :class => "header-logo" %>
    <% end %>
    
    <div id="login_link">
      <a href="">Войти</a>
    </div>
    
    <div id="global_search">
      <form action="/">
        <input id="q" name="q" placeholder="Поиск" type="search" class="ac_input">
      </form>
    </div>
  </div>  
</div>

<div id="layout">
  <div class="container">
    <div id="sidebar">
      <%= image_tag "userpic-placeholder.jpg" %>
      <p class="age">
        33
        <small>года</small>
      </p>
    </div>
    <div id="content">
      <div id="epitaph">  
        <span class="quote">«</span>
        <p>          
          Фотограф Ден Шитаги (Dane Shitagi) приносит красоту балета на улицы в проекте «Нью-Йоркская балерина». На протяжении восьми лет Ден воплощал этот проект в жизнь, а улицы Нью-Йорка служили ему фоном.
        </p>
        <span class="author">— <a href="">Крошка Молли</a>.</span>
      </div> 
      
      <div class="liner">
        <div id="header">
          <h1>
            Наташа Рудницкая
            <div class="button">
              <a href="">
                <span class="bg">
                  <span class="l"></span>
                  <span class="r"></span>
                  <span class="text">Вспоминать</span>
                </span>
              </a>
            </div>
          </h1>
          <a href="">Добавить эпитафию</a>
          <div class="social">
            <%= image_tag "social-stuff.png" %>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>